<nav>
    <div class="dropdown">
        <a href="#" class="dropdown-toggle" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
          <img style="max-block-size: 40px;" src="../../../assets/images/profile_logo.jpeg" alt="Profile Image">
        </a>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton"> 
          <li><a class="dropdown-item" href="account">My account</a></li>
          <li><a class="dropdown-item" href="account/orders">My orders</a></li>
          <li><a class="dropdown-item" href="account/adresses">My addresses</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#">Logout</a></li>
        </ul>
      </div>    
</nav>
        