<div class="card p-3 mt-5 mb-5">
  <img
    [src]="data?.image"
    class="bannerImage"
    alt="{{ data?.name }}"
  />
  <div class="card-body">
    <div class="row">
      <div class="d-flex justify-content-between align-items-center">
        <h3 class="card-title">{{ data?.name }}</h3>
        <app-rating-stars [data]="data"></app-rating-stars>
      </div>
    </div>
    <div class="row">
      <div class="d-flex justify-content-between">
        <p class="card-text">
          {{ data?.category.replace('_', ' ') }}
        </p>
        <p class="card-text">
          {{ data?.address }}
        </p>
      </div>
    </div>
  </div>
</div>
