<header>
  <div>
    <a [routerLink]="['/home']" id="logo"><span class="brand-name"><img src="../assets/images/logo.png" alt="WL-Delivery" width="50" height="45"></span></a>
  </div>

  <div >
    <ng-template *ngIf="searchBar; then searchBarBlock else noSearchBarBlock" ></ng-template>
    <ng-template #searchBarBlock>
      <app-search-bar></app-search-bar>
    </ng-template>
    <ng-template #noSearchBarBlock>
    </ng-template>
  </div>

 
  <ng-template *ngIf="(loggedIn || userLog ); then LoggedInBlock else GuestBlock"></ng-template>
  <ng-template #LoggedInBlock>
    <div class="d-inline-flex">
      <div *ngIf="cartStatus" class="me-4">
        <app-cart-status></app-cart-status>
      </div>
      <div>
        <app-profile-avatar></app-profile-avatar>
      </div>
    </div>
  </ng-template>
  <ng-template #GuestBlock>
    <app-register-form (actionEventEmitter)="loggedUser($event)"></app-register-form>
  </ng-template>
  </header>