<header>
  <div>
    <a [routerLink]="['/home']" id="logo"><span class="brand-name">WL Delivery</span></a>
  </div>

  <div >
    <ng-template *ngIf="searchBar; then searchBarBlock else noSearchBarBlock" ></ng-template>
    <ng-template #searchBarBlock>
      <app-search-bar></app-search-bar>
    </ng-template>
    <ng-template #noSearchBarBlock>
    </ng-template>
  </div>

  <div>
    <app-cart-status></app-cart-status>
    </div>


  <ng-template *ngIf="(loggedIn || userLog ); then LoggedInBlock else GuestBlock" ></ng-template>
  <ng-template #LoggedInBlock>
    <app-profile-avatar></app-profile-avatar>
  </ng-template>
  <ng-template #GuestBlock>
    <app-register-form (actionEventEmitter)="loggedUser($event)"></app-register-form>
  </ng-template>
</header>