<header>
  <div>
    <span class="brand-name">WL Delivery</span>
  </div>

  <div>
    <app-search-bar></app-search-bar>
  </div>

  <!-- <div class="d-inline-flex">
    <div class="me-2"><app-profile-avatar></app-profile-avatar></div>
    <div><app-register-form></app-register-form></div>
  </div> -->


  <ng-template *ngIf="loggedIn; then LoggedInBlock else GuestBlock" ></ng-template>
  <ng-template #LoggedInBlock>
    <app-profile-avatar></app-profile-avatar>
  </ng-template>
  <ng-template #GuestBlock>
    <app-register-form (actionEventEmitter)="loggedUser($event)"></app-register-form>
  </ng-template>
</header>