<div>
    <h4 class="mt-3 p-0.6">Menu</h4>

</div>
<div class="side-navigation" routerLink="account">
    <div class="list-group list-group-flush">
        <a class="list-group-item list-group-item-action" routerLinkActive="active" routerLink="/account/profile">My
            account</a>
        <a class="list-group-item list-group-item-action" routerLinkActive="active" routerLink="/account/orders">My
            orders</a>
        <a class="list-group-item list-group-item-action" routerLinkActive="active" routerLink="/account/change-password">Change
            Password</a>
    </div>
</div>