<div class="container">
  <div class="emptyBasket" *ngIf="cartProducts.length === 0">
    <h3>Shopping bag is empty</h3>
    <img
      class="shoppingImage"
      src="../assets/images/basket-shopping.svg"
      alt="Shopping basket"
    />
  </div>
  <div *ngIf="cartProducts.length > 0">
    <table class="table table-hover">
      <tbody>
        @for (cartItem of cartProducts; track $index) {
        <tr>
          <td>{{ cartItem.quantity }}</td>
          <td>{{ cartItem.product.name }}</td>
          <td>
            {{ cartItem.product.price * cartItem.quantity}}€
          </td>
          <td>
            <!-- <button class="btn btn-danger" (click)="remove(cartItem.product.id)"><i class="bi bi-plus"></i>Remove</button></td> -->
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
  <div class="row">
    <div class="totalPrice fw-bold">
      Total: {{getTotal() | number:'1.2-2'}}€
    </div>
    <button class="btn btn-success mt-3" routerLink="/checkout">
      Checkout
    </button>
  </div>
</div>
