<div class="d-flex">
    <a data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
      <img
      class="shoppingImage"
      src="../assets/images/basket-shopping.svg"
      alt="Shopping basket"
    />
        <span class="badge bg-danger text-white ms-1 rounded-pill">{{cartProducts}}</span>
    </a>
</div>

<!-- Use on mobile version of the app for the cart-->

<!-- <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
    <h5 id="offcanvasRightLabel">My Cart</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <app-cart></app-cart>
  </div>
</div> -->
