<div class="side-navigation">
    <div class="p-3 bg-white">
      <a href="/" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none">
        <span class="fs-5 fw-semibold">Filter by</span>
      </a>
      <ul class="list-unstyled ps-0">
        <li class="mb-1">
          <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#category-collapse" aria-expanded="false">
            Categories
          </button>
          <div class="text-decoration-none" id="category-collapse">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
              @for (ct of categories; track $index) { 
              <li>
                  <a [routerLink]="['/home']" [queryParams]="{ category: ct.category }" class="link-dark rounded">{{ct.category}}</a>
              </li>
              }
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
  
  