<div class="row d-flex align-items-center justify-content-center">
  <h4 class="mt-5 mb-3 text-center">All Stores</h4>
  @for (store of storesList; track $index) {
    <div class="col-auto mb-4 text-center">
      <div class="card" style="width: 18rem;" >
        <img [src]="store.image" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{store.name}}</h5>
          <p class="card-text">{{store.category.replace('_', ' ')}}<br>{{store.address}}</p>
          <a [routerLink]="['/stores', store.id]" class="btn btn-primary">Go to store...</a>
        </div>
      </div>
    </div>
  }
</div>


