<div>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#loginModal">
        Login/Register
    </button>
</div>

<div class="modal fade" id="loginModal" aria-hidden="true" aria-labelledby="loginModalLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="loginModaleLabel">Login</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="form" (submit)="login()">
                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label">E-mail</label>
                        <div class="col-sm-10">
                            <input class="form-control" formControlName="email">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label">Password</label>
                        <div class="col-sm-10">
                            <input class="form-control" formControlName="password">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <small> Go to
                            <a data-bs-toggle="modal" href="#registerModal">register</a>
                        </small>
                        <button type="submit" class="btn btn-primary">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="registerModal" aria-hidden="true" aria-labelledby="registerModalLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="registerModalLabel">User register</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="form" (submit)="register()">
                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label">E-mail</label>
                        <div class="col-sm-10">
                            <input class="form-control" formControlName="email">
                        </div>
                        <div *ngIf="form.get('email')?.invalid && (form.get('email')?.touched || form.get('email')?.dirty )"></div>
                        <div class="text-danger" *ngIf="form.get('email')?.hasError('required')">*</div>
                        <div class="text-danger" *ngIf="form.get('email')?.hasError('email')"> E-mail is invalid</div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label">Phone</label>
                        <div class="col-sm-10">
                            <input class="form-control" formControlName="phone">
                        </div>
                        <div *ngIf="form.get('phone')?.invalid && (form.get('phone')?.touched || form.get('phone')?.dirty )"></div>
                        <div class="text-danger" *ngIf="form.get('phone')?.hasError('pattern')"> Invalid phone number</div>
                        <div class="text-danger" *ngIf="form.get('phone')?.hasError('required')">*</div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label">Password</label>
                        <div class="col-sm-10">
                            <input class="form-control" formControlName="password">
                        </div>
                        <div *ngIf="form.get('password')?.invalid && (form.get('password')?.touched || form.get('password')?.dirty )"></div>
                        <div class="text-danger" *ngIf="form.get('password')?.hasError('required')">*</div>
                        <div class="text-danger" *ngIf="form.get('password')?.hasError('minlength')"> Password must be at least 6 characters</div>
                        <div class="text-danger" *ngIf="form.get('password')?.hasError('maxlength')"> Password must not exceed 40 characters</div>
                    </div>
                    <div class="modal-footer">
                        <small> Back to
                            <a data-bs-toggle="modal" href="#loginModal">login</a>
                        </small>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>