<div class="card">
    <div class="row m-l-0 m-r-0">
        <div class="col-sm-12">
            <div class="card-block">
                <h6 class="b-b-default f-w-600">Information</h6>
                <div class="row">
                    <div class="col-sm-6">
                        <p class="f-w-600">Name</p>
                        <h6 class="text-muted">Dimitra</h6>
                    </div>
                    <div class="col-sm-6">
                        <p class="f-w-600">Last Name</p>
                        <h6 class="text-muted">Giannopoulou</h6>
                    </div>
                </div>
                <h6 class="m-t-40 b-b-default f-w-600">Contact</h6>
                <div class="row">
                    <div class="col-sm-6">
                        <p class="f-w-600">Email</p>
                        <h6 class="text-muted">dimitra.gmail.com</h6>
                    </div>
                    <div class="col-sm-6">
                        <p class="f-w-600">Phone</p>
                        <h6 class="text-muted">6970000000</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>