
.card {
    margin-top: 1em;
    padding: 0.6em;
    box-shadow: 1px 0px 14px 0px lightgray;
    height: 97%;
    border-radius: 1em;
    border: none;
}

.card-block {
    padding: 1.25rem;
}

h6 {
    font-size: 14px;
}

.b-b-default {
    border-bottom: 1px solid #e0e0e0;
}

.f-w-600 {
    font-weight: 600;
}

.m-t-40 {
    margin-top: 20px;
}

.m-r-0 {
    margin-right: 0px;
}

.m-l-0 {
    margin-left: 0px;
}