<!-- <pre>
    {{response | json}}
</pre> -->


<!-- <div class="row">
    <h4>Our top Restaurants</h4>
    @for (item of response; track $index) {
        <div class="col-md-4 mb-4">
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{item.name}}</h5>
                    <p class="card-text">{{item.category}}<br>{{item.address}}</p>
                    <a href="#" class="btn btn-primary">Go to store...</a>
                </div>
            </div>
        </div>
    }
</div> -->






<!-- <div class="row">
    <h4>Our top Restaurants</h4>
    @for (item of response; track $index) {
        <div class="col-md-4 mb-4">
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{item.name}}</h5>
                    <p class="card-text">{{item.category}}<br>{{item.address}}</p>
                    <a href="#" class="btn btn-primary">Go to store...</a>
                </div>
            </div>
        </div>
    }
</div> -->


