img {
    width:130px;
    height:130px;
    border-radius: 10px;
    object-fit: cover;
}

.cardContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
